@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.title {
  text-align: center;
  color: #223867;
}
.container {
  padding: 15px;
  margin: 0 auto;
  width: 390px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(224, 247, 252, 0.583333) 25.87%,
    #caf2fa 100%
  );
}
.header {
  margin-bottom: 20px;
}
.header__title {
  font-weight: 900;
  font-size: 35px;
  line-height: 50px;
}
.header__subtitle {
  font-weight: 700;
  font-size: 25px;
  line-height: 54px;
}

.patient__container {
  display: grid;
  justify-content: center;
}
.patient__block {
  margin-bottom: 20px;
}
.patient__age {
  color: #028ca6;
  margin-bottom: 15px;
}
.symptoms_paragraph > p {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #223867;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #068ca6;
  box-shadow: 0px 4px 4px rgba(6, 140, 166, 0.31);
  border-radius: 10px;
  padding: 10px;
  line-height: 20px;
  margin-bottom: 10px;
}
.symptoms__question {
  margin-top: 20px;
  font-size: 13px;
  color: rgba(42, 71, 125, 1);
  font-weight: 700;
}
.symptoms__link {
  text-decoration: none;
  color: #068ca6;
  font-size: 11px;
}
.learn-more__container {
  margin-top: 20px;
}
.img__container {
  position: relative;
}
.img-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  margin: 20px 0 20px 0;
}
.round-image {
  display: none;
}
.plus-img {
  position: absolute;
  width: 70px;
  height: 70px;
  left: -15%;
  top: -20%;
}
.img-first {
  top: -8%;
}
.img-second {
  top: -8%;
  left: -6%;
}

@media (min-width: 1264px) {
  .container {
    max-width: 1264px;
    width: 100%;
    padding: 35px;
  }
  .header {
    margin-bottom: 40px;
  }
  .header__title {
    font-size: 40px;
  }
  .header__subtitle {
    font-size: 36px;
  }
  .patient__container {
    display: flex;
    justify-content: space-around;
  }
  .patient__age {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 25px;
  }
  .symptoms__container {
    display: flex;
    flex-wrap: wrap;
  }
  .symptoms_paragraph:first-child {
    margin-right: 35px;
  }
  .symptoms_paragraph > p {
    max-width: 578px;
    width: 100%;
    margin-bottom: 35px;
  }
  .learn-more__container {
    margin-bottom: 40px;;
  }
  .img__container {
    position: relative;
  }
  .img-block {
    position: relative;
    margin-top: 110px;
  }
  .round-image {
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .container-first {
    left: 50%;
    top: -45%;
  }
  .container-second {
    left: -16%;
    top: 18%;
  }
  .container-third {
    left: 99%;
    top: 47%;
  }
  .container-fourth {
    left: -14%;
    top: 196%;
  }
  .container-fifth {
    left: 50%;
    top: 157%;
  }
  .container-sixth {
    left: -85%;
    top: 87%;
  }
  .container-seventh {
    left: 3%;
    top: -170%;
  }
  .container-eighth {
    left: -90%;
    top: -315%;
  }
}
