@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
body {
  width: 390px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
.title {
  text-align: center;
  color: #223867;
}
.container {
  padding: 15px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(224, 247, 252, 0.583333) 25.87%,
    #caf2fa 100%
  );
}
.header {
  margin-bottom: 20px;
}
.header__title {
  font-weight: 900;
  font-size: 35px;
  line-height: 50px;
}
.header__subtitle {
  font-weight: 700;
  font-size: 25px;
  line-height: 54px;
}

.patient__container {
  display: grid;
  justify-content: center;
}
.patient__block {
  margin-bottom: 20px;
}
.patient__age {
  color: #028ca6;
  margin-bottom: 15px;
}
.patient__image {
}

.symptoms__container {
}
.symptoms__container > p {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #223867;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #068ca6;
  box-shadow: 0px 4px 4px rgba(6, 140, 166, 0.31);
  border-radius: 10px;
  padding: 10px;
  line-height: 20px;
  margin-bottom: 10px;
}
.symptoms__question {
  margin-top: 20px;
  font-size: 13px;
  color: rgba(42, 71, 125, 1);
  font-weight: 700;
}
.symptoms__link {
  text-decoration: none;
  color: #068ca6;
  font-size: 11px;
}
.learn-more__container {
  margin-top: 20px;
}
.img__container {
  position: relative;
}
.img-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  margin-top: 20px;
}
.plus-img {
  position: absolute;
  width: 70px;
  height: 70px;
  left: -15%;
  top: -20%;
}
.img-first {
  top: -8%;
}
.img-second {
  top: -5%;
  left: -6%;
}
